<a href="https://colab.research.google.com/github/tanyarw/disaster-prediction-backend/blob/main/Disaster_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount content

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import os
os.chdir("drive/My Drive/DV: Disaster Prediction")

Import Libraries

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
from sklearn import utils
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# **GLOBAL LANDSLIDES**

Read Dataset

In [4]:
landslide_df = pd.read_csv('Datasets/NASA_Global_Landslide_Catalog.csv')
landslide_df.head()

   source_name  ... latitude
0          AGU  ...  32.5625
1    Oregonian  ...  45.4200
2     CBS News  ... -11.1295
3      Reuters  ...  28.8378
4  The Freeman  ...  10.3336

[5 rows x 31 columns]

Drop unwanted features

In [5]:
landslide_df = landslide_df.drop(['source_name', 'source_link','event_id', 'event_date','event_time',
                        'event_title', 'event_description', 'location_description','storm_name','photo_link',
                        'notes', 'event_import_source','event_import_id','country_code','submitted_date', 
                        'created_date', 'last_edited_date','admin_division_name','gazeteer_closest_point', 'gazeteer_distance','injury_count'], axis = 1)

Drop unknown categories

In [6]:
to_remove = landslide_df[ (landslide_df['landslide_category'] == 'unknown') ].index
landslide_df = landslide_df.drop(to_remove)
to_remove = landslide_df[(landslide_df['location_accuracy'] == 'unknown')].index
landslide_df = landslide_df.drop(to_remove)

Replace or drop unknown/NaN values

In [7]:
landslide_df = landslide_df.dropna(subset=['location_accuracy', 'landslide_category','landslide_trigger','landslide_size','landslide_setting','country_name'])

Determine feature and target vectors

In [8]:
X_features = list(landslide_df.columns)
X_features.remove('fatality_count')
X = landslide_df[X_features]
y = landslide_df['fatality_count']
y = y.fillna(y.median()) # deal with na

In [9]:
X.head()

  location_accuracy landslide_category  ... longitude latitude
1               5km           mudslide  ... -122.6630  45.4200
2              10km          landslide  ...  -75.3587 -11.1295
4               5km          landslide  ...  123.8978  10.3336
5               5km          landslide  ...  124.9668  10.7004
6               5km           mudslide  ... -117.2665  48.2797

[5 rows x 9 columns]

Encoding of categorical data

In [10]:
categorical = []
for i in X_features:
    if landslide_df[i].dtype=="object":
        categorical.append(i)

In [11]:
from sklearn import preprocessing
label_maps = {}
for i in categorical:
    le = preprocessing.LabelEncoder().fit(X[i])
    X[i]=le.transform(X[i])
    d = dict(zip(le.classes_, le.transform(le.classes_)))
    label_maps[i] = d
print(label_maps)

{'location_accuracy': {'100km': 0, '10km': 1, '1km': 2, '250km': 3, '25km': 4, '50km': 5, '5km': 6, 'exact': 7}, 'landslide_category': {'complex': 0, 'creep': 1, 'debris_flow': 2, 'earth_flow': 3, 'lahar': 4, 'landslide': 5, 'mudslide': 6, 'other': 7, 'riverbank_collapse': 8, 'rock_fall': 9, 'snow_avalanche': 10, 'translational_slide': 11}, 'landslide_trigger': {'construction': 0, 'continuous_rain': 1, 'dam_embankment_collapse': 2, 'downpour': 3, 'earthquake': 4, 'flooding': 5, 'freeze_thaw': 6, 'mining': 7, 'monsoon': 8, 'no_apparent_trigger': 9, 'other': 10, 'rain': 11, 'snowfall_snowmelt': 12, 'tropical_cyclone': 13, 'unknown': 14, 'volcano': 15}, 'landslide_size': {'large': 0, 'medium': 1, 'small': 2, 'unknown': 3, 'very_large': 4}, 'landslide_setting': {'above_river': 0, 'above_road': 1, 'below_road': 2, 'bluff': 3, 'burned_area': 4, 'deforested_slope': 5, 'engineered_slope': 6, 'mine': 7, 'natural_slope': 8, 'other': 9, 'retaining_wall': 10, 'unknown': 11, 'urban': 12}, 'country_name': {'Afghanistan': 0, 'Algeria': 1, 'American Samoa': 2, 'Angola': 3, 'Argentina': 4, 'Armenia': 5, 'Australia': 6, 'Austria': 7, 'Azerbaijan': 8, 'Bangladesh': 9, 'Barbados': 10, 'Belize': 11, 'Bermuda': 12, 'Bhutan': 13, 'Bolivia': 14, 'Bosnia and Herzegovina': 15, 'Brazil': 16, 'Brunei': 17, 'Bulgaria': 18, 'Burkina Faso': 19, 'Burundi': 20, 'Cameroon': 21, 'Canada': 22, 'Chile': 23, 'China': 24, 'Colombia': 25, 'Costa Rica': 26, 'Croatia': 27, 'Cuba': 28, 'Czech Republic': 29, 'Czechia': 30, 'Democratic Republic of the Congo': 31, 'Dominica': 32, 'Dominican Republic': 33, 'East Timor': 34, 'Ecuador': 35, 'Egypt': 36, 'El Salvador': 37, 'Ethiopia': 38, 'Fiji': 39, 'France': 40, 'Gabon': 41, 'Georgia': 42, 'Germany': 43, 'Ghana': 44, 'Greece': 45, 'Grenada': 46, 'Guam': 47, 'Guatemala': 48, 'Guinea': 49, 'Haiti': 50, 'Honduras': 51, 'Hong Kong': 52, 'Iceland': 53, 'India': 54, 'Indonesia': 55, 'Iran': 56, 'Ireland': 57, 'Isle of Man': 58, 'Israel': 59, 'Italy': 60, 'Ivory Coast': 61, 'Jamaica': 62, 'Japan': 63, 'Jersey': 64, 'Jordan': 65, 'Kazakhstan': 66, 'Kenya': 67, 'Kyrgyzstan': 68, 'Laos': 69, 'Lebanon': 70, 'Liberia': 71, 'Luxembourg': 72, 'Macedonia': 73, 'Madagascar': 74, 'Malaysia': 75, 'Mauritius': 76, 'Mexico': 77, 'Montenegro': 78, 'Morocco': 79, 'Myanmar [Burma]': 80, 'Namibia': 81, 'Nepal': 82, 'New Zealand': 83, 'Nicaragua': 84, 'Nigeria': 85, 'North Korea': 86, 'Norway': 87, 'Oman': 88, 'Pakistan': 89, 'Panama': 90, 'Papua New Guinea': 91, 'Paraguay': 92, 'Peru': 93, 'Philippines': 94, 'Poland': 95, 'Portugal': 96, 'Puerto Rico': 97, 'Republic of the Congo': 98, 'Romania': 99, 'Russia': 100, 'Rwanda': 101, 'Saint Kitts and Nevis': 102, 'Saint Lucia': 103, 'Saint Vincent and the Grenadines': 104, 'Saudi Arabia': 105, 'Serbia': 106, 'Sierra Leone': 107, 'Singapore': 108, 'Slovakia': 109, 'Slovenia': 110, 'Solomon Islands': 111, 'South Africa': 112, 'South Korea': 113, 'Spain': 114, 'Sri Lanka': 115, 'Sudan': 116, 'Swaziland': 117, 'Switzerland': 118, 'Taiwan': 119, 'Tajikistan': 120, 'Tanzania': 121, 'Thailand': 122, 'Trinidad and Tobago': 123, 'Turkey': 124, 'U.S. Virgin Islands': 125, 'Uganda': 126, 'Ukraine': 127, 'United Arab Emirates': 128, 'United Kingdom': 129, 'United States': 130, 'Uzbekistan': 131, 'Vanuatu': 132, 'Venezuela': 133, 'Vietnam': 134, 'Yemen': 135, 'Zambia': 136}}

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [12]:
X.head()

   location_accuracy  landslide_category  ...  longitude  latitude
1                  6                   6  ...  -122.6630   45.4200
2                  1                   5  ...   -75.3587  -11.1295
4                  6                   5  ...   123.8978   10.3336
5                  6                   5  ...   124.9668   10.7004
6                  6                   6  ...  -117.2665   48.2797

[5 rows x 9 columns]

Train and test split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

Perform regression

In [14]:
clf = RandomForestRegressor(n_estimators=150, max_depth = None, criterion='mse')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

Evaluation

In [15]:
mean_absolute_error(y_test, y_pred)

4.362983966560608

# **INDIAN RAINFALL**

Read dataset

In [16]:
rainfall_df = pd.read_csv('Datasets/rainfall_india_1901-2017.csv')

In [17]:
rainfall_df.head()

                 SUBDIVISION  YEAR   JAN    FEB  ...     JF    MAM    JJAS    OND
0  Andaman & Nicobar Islands  1901  49.2   87.1  ...  136.3  560.3  1696.3  980.3
1  Andaman & Nicobar Islands  1902   0.0  159.8  ...  159.8  458.3  2185.9  716.7
2  Andaman & Nicobar Islands  1903  12.7  144.0  ...  156.7  236.1  1874.0  690.6
3  Andaman & Nicobar Islands  1904   9.4   14.7  ...   24.1  506.9  1977.6  571.0
4  Andaman & Nicobar Islands  1905   1.3    0.0  ...    1.3  309.7  1624.9  630.8

[5 rows x 19 columns]

Deal with NaN values

In [18]:
rainfall_df.fillna(value = 0, inplace = True)

Split train and test sets

In [19]:
div_data = np.asarray(rainfall_df[['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']])

X = None; y = None
for i in range(div_data.shape[1]-3):
    if X is None: 
        X = div_data[:, i:i+3] # Three consecutive months
        y = div_data[:, i+3] # Next (fourth) month
    else:
        X = np.concatenate((X, div_data[:, i:i+3]), axis=0) # Three consecutive months
        y = np.concatenate((y, div_data[:, i+3]), axis=0) # Next (fourth) month
        
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

In [20]:
X_test

array([[247.8, 290.9,  30.4],
       [ 32.3,  26.6,  14.8],
       [  8.1,  14.1, 209.2],
       ...,
       [204.7, 222.7,   1.3],
       [210. ,  82.1, 138.4],
       [  1.6,   0.4,   0.6]])

Perform Regression

In [21]:
rf = RandomForestRegressor(n_estimators = 200, max_depth=10)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

Evaluate

In [22]:
mean_absolute_error(y_test, y_pred)

83.55932273440942

# **USA EARTHQUAKES**

In [23]:
earthquake_df = pd.read_csv('Datasets/earthquake-all-month.csv')

In [24]:
import re
earthquake_df['short place']=[re.findall(r'\w+',i)[-1] for i in earthquake_df['place']]
earthquake_df.dropna(subset=['mag'],inplace=True)

Feature vector

In [25]:
features=[i for i in earthquake_df.columns if earthquake_df[i].isna().sum()==0] # features include only place, type and source of an earthquake

for i in ['mag','place','time','id','updated','net','magType','depth','depthError']:
    features.remove(i)
    
X=earthquake_df[features]
y=earthquake_df[['mag','depth', 'depthError']] # we try to predict magnitude, depth & depthError

In [26]:
features

['latitude',
 'longitude',
 'rms',
 'type',
 'status',
 'locationSource',
 'magSource',
 'short place']

In [27]:
df = pd.merge(X,y, left_index=True, right_index=True)
df.to_csv(path_or_buf='Datasets/Processed dataset/earthquake_df.csv')

Segregate categorical data

In [28]:
categorical = []
for i in features:
    if earthquake_df[i].dtype=="object":
        categorical.append(i)

Encode the data

In [29]:
X.head()

    latitude   longitude   rms  ... locationSource magSource short place
0  33.262167 -117.526000  0.17  ...             ci        ci          CA
1  19.146000 -155.469162  0.16  ...             hv        hv      Hawaii
2  19.478000 -155.647833  0.10  ...             hv        hv      Hawaii
3  59.997900 -152.705500  0.40  ...             ak        ak      Alaska
4  56.744000 -156.374500  0.41  ...             ak        ak      Alaska

[5 rows x 8 columns]

In [30]:
from sklearn import preprocessing
label_maps = {}
for i in categorical:
    le = preprocessing.LabelEncoder().fit(X[i])
    X[i]=le.transform(X[i])
    d = dict(zip(le.classes_, le.transform(le.classes_)))
    label_maps[i] = d
print(label_maps)

{'type': {'earthquake': 0, 'explosion': 1, 'ice quake': 2, 'other event': 3, 'quarry blast': 4}, 'status': {'automatic': 0, 'reviewed': 1}, 'locationSource': {'ak': 0, 'av': 1, 'ci': 2, 'hv': 3, 'mb': 4, 'nc': 5, 'nm': 6, 'nn': 7, 'ok': 8, 'pr': 9, 'se': 10, 'tx': 11, 'us': 12, 'uu': 13, 'uw': 14}, 'magSource': {'ak': 0, 'av': 1, 'ci': 2, 'guc': 3, 'hv': 4, 'mb': 5, 'nc': 6, 'nm': 7, 'nn': 8, 'ok': 9, 'pr': 10, 'se': 11, 'tx': 12, 'us': 13, 'uu': 14, 'uw': 15}, 'short place': {'Afghanistan': 0, 'Africa': 1, 'Alabama': 2, 'Alaska': 3, 'Albania': 4, 'Algeria': 5, 'America': 6, 'Argentina': 7, 'Arizona': 8, 'Arkansas': 9, 'Austria': 10, 'Barbados': 11, 'Bhutan': 12, 'Bolivia': 13, 'Brazil': 14, 'CA': 15, 'Caledonia': 16, 'California': 17, 'Canada': 18, 'Chile': 19, 'China': 20, 'Colombia': 21, 'Colorado': 22, 'Congo': 23, 'Dakota': 24, 'Dominica': 25, 'Ecuador': 26, 'Fiji': 27, 'Georgia': 28, 'Greece': 29, 'Guadeloupe': 30, 'Guam': 31, 'Guatemala': 32, 'Guinea': 33, 'Guyana': 34, 'Haiti': 35, 'Hawaii': 36, 'Helena': 37, 'Herzegovina': 38, 'Honduras': 39, 'Iceland': 40, 'Idaho': 41, 'Illinois': 42, 'India': 43, 'Indonesia': 44, 'Iran': 45, 'Iraq': 46, 'Island': 47, 'Islands': 48, 'Italy': 49, 'Japan': 50, 'Junction': 51, 'Kansas': 52, 'Kentucky': 53, 'Leste': 54, 'Libya': 55, 'Louisiana': 56, 'MX': 57, 'Maine': 58, 'Mayen': 59, 'Mexico': 60, 'Micronesia': 61, 'Missouri': 62, 'Mongolia': 63, 'Montana': 64, 'Myanmar': 65, 'NV': 66, 'Namibia': 67, 'Nevada': 68, 'Nicaragua': 69, 'Ocean': 70, 'Oklahoma': 71, 'Oregon': 72, 'Pakistan': 73, 'Panama': 74, 'Peninsula': 75, 'Peru': 76, 'Philippines': 77, 'Portugal': 78, 'Republic': 79, 'Rica': 80, 'Rico': 81, 'Ridge': 82, 'Rise': 83, 'Romania': 84, 'Russia': 85, 'Salvador': 86, 'Sea': 87, 'Svalbard': 88, 'Taiwan': 89, 'Tajikistan': 90, 'Tennessee': 91, 'Texas': 92, 'Tonga': 93, 'Turkey': 94, 'Turkmenistan': 95, 'Uganda': 96, 'Utah': 97, 'Vanuatu': 98, 'Venezuela': 99, 'Vietnam': 100, 'Washington': 101, 'Wyoming': 102, 'Xizang': 103, 'York': 104, 'Zealand': 105, 'region': 106}}

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [31]:
label_maps.keys()

dict_keys(['type', 'status', 'locationSource', 'magSource', 'short place'])

Train and test split

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.10)

In [33]:
X_train.head()

       latitude   longitude   rms  ...  locationSource  magSource  short place
8524  40.268667 -124.281667  0.05  ...               5          6           15
5211  46.885333 -112.492000  0.12  ...               4          5           64
3075  35.699000 -117.488167  0.14  ...               2          2           15
5510  52.865600 -169.860300  0.30  ...              12          0            3
4928  16.912900  147.615600  1.15  ...              12         13           48

[5 rows x 8 columns]

Random forest regressor

In [34]:
from sklearn.datasets import make_classification
clf = RandomForestRegressor(n_estimators=100, criterion='mse', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False, ccp_alpha=0.0, max_samples=None)
clf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [35]:
y_pred = clf.predict(X_test)

In [36]:
clf.predict([[33.262167, -117.526, 0.17, 0, 0, 2, 2, 15]])

array([[ 1.1203, 11.217 ,  1.2008]])

Evaluate

In [37]:
mean_absolute_error(y_test, y_pred)

4.133086938325434